.header-container {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-box {
    margin-left: 1.5rem;
    color: rgb(184, 184, 184);
}