@media (min-width: 800px) {
.nav-containerNormal {
    display: flex;
    width: 15rem;
    position: absolute;
    right: 0;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.router-links-normal {
    color: var(--vt-c-white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.router-links-normal:hover {
    color: rgb(207, 207, 207);
}
}

@media (max-width: 800px) {
    .nav-containerNormal {
        display: none;
    }
}